$gekk-solid: #2BB673;
$gekk-blue: #09AFE2;
$gekk-darkBg: #272262;

$text-main: black;
$text-gray-dark: #939393;
$text-gray-light: #CBCBCB;

$content-lightBg: white;
$content-grayBg: #E9E9E9;

$gekk-grad: linear-gradient(90deg, $gekk-blue, $gekk-solid);